
body {
	padding: 40px;
}

body, p { font-size: 24px; }

body {
   background-image: url("/resources/old-paper-texture.jpg");
}
#operations-container {
	float: left;
	width: auto;
}

#operations {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0;
	margin-top: 0;
}

#operations li {
	padding: 30px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
}

#operations li:hover {
	background: #F7F5F5;
}


#map-container {
	
	float: left;
	width: auto;
	height: auto;
	
}